h1{
  text-align: center;
  font-size: 40px;
}
p {
  text-align: center;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 270px;
  }
  
  div.desc {
    padding: 20px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
    
  }
  
  .responsive {
    margin-inline-start: 60px;
    
   margin-block-start: 20px;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
/*  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }